.visitor{
  text-align: center;
  &__title {
    font-size: 25px;
  }
  &__alfred-picture {
    margin-top:10px;
    max-width:150px;
    border-radius: 50%;
  }
  &__card {
    padding: 20px 30px;
    margin: auto;
    width: 35vw;
    min-width: 280px;
  }
  &__name {
    padding-bottom: 20px;
  }
  &__action-button {
    margin-bottom: 10px;
  }
}
